* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.heading {
    height: 50pxpx;
    background-color: #081b31;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
}

.selector {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 40px;
    border-radius: 50%;

}

.img:hover {
    background-color: #081b31;
    cursor: pointer;
}

.img img {

    height: 95%;
    width: 95%;
    object-fit: cover;
    border-radius: 50%;
    padding: 2%;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 30px;
}

.userscore {

    font-size: 40px;
}

.compscore {
    font-size: 40px;
}

.user,
.comp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#you,
#comp {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.msgcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.msg {
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: #081b31;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
}